<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
    <style>
        body, html {
            height: 100%;
            margin: 0;
        }
        .bg {
            background-image: url("img/chatbot.png");
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>
<div class="bg"></div>
</body>
</html>